body{
    background-color: #000;
    color: #fff;
}
nav ul li {
    display: inline-block;
    text-decoration: none;
    margin:7px 3% 0 0;
    padding: 20px;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: border-bottom-width 0.5s ease ,border-color 0.5s ease;
    font-size: 20px;
    cursor: pointer;
}
nav ul {
    text-align: center;
    
    
}

nav {
    margin-top: 30px;
    /*border-top: thin solid #999;
    border-bottom: thin solid #999;*/

    padding-top: 10px;
}
nav ul li:hover{
	border-color: #f00;
    border-bottom-width: 5px;
}
nav ul li:active{
	color: #B20000;
}




























/***********CONTACT FORM****************/
label {color:white;}

#contactForm {
    margin-top: 20px;
}